nav{
    height: 3.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--clr-bg);
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    z-index: 10;
    opacity: 0.8;
}
.nav-links{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links *{
    margin: 0 1.4rem;
}
.active{
    color: var(--clr-primary-variant);
}
.menu{
    font-size: 1.8rem;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

@media screen and (max-width :998px) {
    nav{
        padding: 0.4rem 0;
        height: auto;
        grid-template-columns:1fr 4rem;
    }
    .menu{
        display: flex;
        align-items: flex-start;
    }
    .nav-links{
        display: none;
    }
    .nav-links *{
        margin-bottom: 1rem;
    }
    .mobile-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-column: 1/2;
    }
}